services:
  apex-frontend:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8965:80"
      - "4709:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
